<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestMedia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TestMedia.Properties.Settings>
            <setting name="FilePath1" serializeAs="String">
                <value />
            </setting>
            <setting name="Label1" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath2" serializeAs="String">
                <value />
            </setting>
            <setting name="Label2" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath3" serializeAs="String">
                <value />
            </setting>
            <setting name="Label3" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath4" serializeAs="String">
                <value />
            </setting>
            <setting name="Label4" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath5" serializeAs="String">
                <value />
            </setting>
            <setting name="Label5" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath6" serializeAs="String">
                <value />
            </setting>
            <setting name="Label6" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath7" serializeAs="String">
                <value />
            </setting>
            <setting name="Label7" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath8" serializeAs="String">
                <value />
            </setting>
            <setting name="Label8" serializeAs="String">
                <value />
            </setting>
        </TestMedia.Properties.Settings>
    </userSettings>
</configuration>